html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.editor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.editor-header {
    width: 100%;
    flex: none;
}

.editor-container {
    flex: auto;
    overflow: auto;
}

.editor-header {
    border-bottom: 1px solid #999;
}

.editor-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.editor-title {
    flex: none;
    margin: 5px;
}

.editor-menu {
    flex: auto;
    margin: 5px;
}

input[type="range"] {
    display: inline-block;
    margin-left: 1em;
    width: 10em;
    vertical-align: middle;
}

.slider-container {
}

.slider-label {
    display: inline-block;
    margin: auto;
}

.slider-input {
    height: 1em;
}

.board-border {
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
    fill: none;
}

.board-grid {
    stroke-width: 1;
    stroke: rgb(200, 200, 200);
}

.field-filled {
    fill: rgb(0, 0, 255);
    stroke-width: 0;
    stroke: rgb(0, 0, 0);
}

.field-empty {
    fill: rgb(255, 255, 255);
    stroke-width: 0;
    stroke: rgb(0, 0, 0);
}

#app-container {
    height: 100%;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(248, 248, 248)
}
